{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults, not ie 11, current node",
        "useBuiltIns": "usage",
        "corejs": "3.8"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
